[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.2.2"
mlflow = "==2.3.1"
pandas = "*"
boto3 = "==1.26.76"
pyarrow = "<12"
s3fs = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.9"
