# Mlflow
mlruns/
mlartifacts/
outputs/
mlruns.db

data/
.ipynb_checkpoints
.bin
*.db

*.parquet
*.html
*.csv

.venv
venv
.idea
**/artifacts/
**/models/

__pycache__/
**.env
**.terraform/
**.terraform.lock*
**terraform.tfstate*
01-intro/Anaconda3-2023.03-Linux-x86_64.sh

# Wandb
*.swp
.python-version
wandb
wandb-debug.log
__pycache__
.ipynb_checkpoints
.DS_Store
logs
summary*
run*
colabs/dataset/*
colabs/train_data/*
colabs/output/*
MNIST/*
log.txt
colabs/log.txt
artifacts
examples/jax/jax-llm/proteins-base/

*.code-workspace
